* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat;
}

img {
  display: block;
  max-width: 80%;
  height: auto;
}

.link {
  text-decoration: none;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-container {
  width: 300px;
}

.my-photo {
  /* width: 350px; */
  margin-left: 20px;
}

.about-me-container {
  padding: 20px 30px 20px;
}

.sidebar-container {
  margin-top: 30px;
}

.sidebar-container-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.09;
  color: #fff;
  margin-bottom: 10px;
}

.sidebar-container-link.link {
  display: flex;
  align-items: center;
}

.sidebar-container-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.71;
  color: #cdd0d3;
}

.sidebar-container-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;

  color: #ff6b08;
}

/* .sidebar-container-list {
  color: #ff6b08;
} */

.sidebar-container-text {
  color: #cdd0d3;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  margin-bottom: 10px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.98;
}

.introduction {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.info-container {
  margin-bottom: 30px;
}

.about-me-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.09;
  margin-bottom: 15px;
  margin-top: 10px;
}

.projects-link {
  color: #595959;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.projects-item:last-child {
  margin-bottom: 10px;
}

.projects-list {
  margin-bottom: 10px;
  list-style: none;
}

.tech-name {
  color: #595959;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.71;
}

.projects-item {
  font-weight: 700;
  margin-left: 17px;
}

.projects-container {
  margin-bottom: 30px;
}

.profession {
  font-size: 24px;
  font-weight: 700;
}

.profession-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.profession-company {
  color: #ff761a;
}

.profession-time {
  color: #a8a8a8;
  font-size: 10px;
  font-weight: 500;
  line-height: 2;
}

.profession-divider {
  color: #000;
}

.profession-duties {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.profession-duties-item {
  color: #595959;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
}

.university-name {
  color: #ff761a;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.specialty-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.71;
}

.education-period {
  color: #a8a8a8;
  font-size: 10px;
  font-weight: 400;
  line-height: 2;
}

.education-period-divider {
  color: #000;
}

.project-title {
  color: #ff761a;
  font-size: 12px;
  font-weight: 400;
}

.link-title {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.add {
  margin-top: 20px;
}
